#header {
	border-bottom: 1px solid blue;
	padding: 10px;
	padding-left: 0;
}



/************************************************ #header-numbers */



#header-numbers {
	width: 100%;
	font-size: 1.5em;
}

#header-numbers p {
	display: inline-block;
	margin: 5px;
}

#header-numbers p:first-child {
	width: 1em;
	text-align: right;
}

#stat-sci, #stat-money {
	width: max-content;
	margin: 0;
}


/************************************************ #button */


#button {
	margin: 5px;
	position: absolute;
	right: 10px;
	top: 19px;
}

#button h1 {
	margin: 5px;
}

#sciPerClick::before {
	content: "+";
}

#sciPerClick::after {
	content:"\269b/click";
}

