#header {
	border-bottom: 1px solid blue;
	padding: 10px;
	padding-left: 0;
	width: 100%;
	font-size: 2em;
}


#header td {
	width: max-content;
}

#header td.r {
	width: 50px;
	text-align: right;
	padding-right: 10px;
}


/************************************************ #button */


#header #button {
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid black;
	width: 1%;
	padding: 10px;
}

#button h1 {
	margin: 5px;
}

#sciPerClick::before {
	content: "+";
}

#sciPerClick::after {
	content:"\269b/click";
}

#sciPerClick {
	margin-bottom: 0;
}
