.hire-type, .hire-amt, .hire-cost, .hire-cost-ignore, .hire-buttons {
	display: inline;
}

#hiring ul {
	padding-left: 20px;
	padding-right: 0px;
	width: auto;
}

#hiring li {
	width: auto;
	border-bottom: 1px solid grey;
	position: relative;
}

#hiring li:last-child {
	border-bottom: none;
}

#hiring .hire-entry {
	list-style: none;
	overflow: hidden;
	width: 350px;
}

#hiring p.hire-amt::before {
	content: "(";
}

#hiring p.hire-amt::after {
	content: ")";
}

#hiring p.hire-cost, #hiring p.hire-cost-ignore {
	color: #3db1ff;
}

#hiring p.hire-cost::before {
	content: "$";
}

#hiring div.hire-buttons {
	float: right;
}

#hiring p.thing-desc {
	display: block;
}

.droparrow {
	display: inline-block;
	margin: 0;
	min-width: 15px;
	text-align: center;
}
