/************************************************ GENERICS & CLASSES */


*,div,p,h1,h2,h3 {
	/* If Futura is available, use it.
	 * Else, it'll fall back to Arial or sans.
	 */
	font-family: Futura, Arial, sans-serif;
}



button {
	margin: 1px;
}



.notenough {
	/* Little popup when you don't have enough of X to do Y. */
	display: none;
	font-style: italic;
	color: darkgrey;
	margin-left: 10px;
}




.thing-desc {
	color: grey;
	font-size: 10px;
	font-style: italic;
	margin-top: 7px;
	width: max-content;
}



.box {
	width: 100%;
}

/************************************************ OPT FRAME */

#cog {
	position: absolute;
	bottom: 4em;
	right: 15px;
	width: 2em;
	cursor: pointer;
}

#cogmenu {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	border-top: 2px solid blue;
	padding: 5px;
	background: white;
}

/************************************************ MISC IDS */

p#scaryredwarning {
	color: darkred;
	background: red;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid black;
	margin: 0px;
	padding: 5px;
}

#content {
	width: 100%;
}
